:root {
  --colorPinkTrans: rgba(255, 57, 235, 0.1);
  --colorPink: rgba(255, 57, 235, 1);
  --colorGrey: rgba(0, 0, 0, 0.14);
  --colorGreyLight: rgba(0, 0, 0, 0.1);
  --colorGreenTrans: rgba(173, 252, 200, 0.4);
  --colorGreen: rgba(173, 252, 200, 1);
  --colorBlueTrans: rgba(149, 217, 255, 0.4);
  --colorBlue: rgba(149, 217, 255, 1);
  --paddingContent: 15px;
}